/* Position and sizing of burger button */
.bm-burger-button {
    position: fixed;
    width: 1rem;
    height: 1rem;
    top:2.5rem;
    right: 1rem;

    @media (max-width: 550px) {
        top:1.5rem;
    }
  }
  
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: #373a47;
    background: #217e3f;
  }
  
  /* Color/shape of burger icon bars on hover*/
  .bm-burger-bars-hover {
    background: #a90000;
  }
  
  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }
  
  /* Color/shape of close button cross */
  .bm-cross {
    background: black;
    
  }

  
  
  /*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
  .bm-menu-wrap {
    position: fixed;
    height: 100%;
  }
  
  /* General sidebar styles */
  .bm-menu {
    --background: 
    linear-gradient(to left,var(--highlight-color), rgba(84, 169, 140, .5), var(--highlight-color) ), url(https://gitgregoryjones.github.io/WaterWatchPro/Crew.jpeg) no-repeat center center/cover;
    background:white;   
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
    display:flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: #373a47;
  }
  
  /* Wrapper for item list */
  .bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
  }
  
  /* Individual item */
  .bm-item {
    display: inline-block;
    margin-bottom:2.25rem;
    font-size: 2.5rem;
    color:rgb(72, 166, 70);
    font-weight: normal;
    font-family: Lato, arial, sans-serif;
    text-transform: uppercase;
    @media (max-width:550px) {

        font-size:1.5rem;
        
    }
  }
  
  /* Styling of overlay */
  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
  }